p {
    font-family: "Abadi MT Condensed Extra Bold";
    font-size: 50px;
    position: relative;
    left: 3%;
}
#loginEmail {
    height: 100px;
    font-size: 40px;
    font-family: "Abadi MT Condensed Extra Bold";
    font-color: black;
}
#loginPassword{
    height: 100px;
    font-size: 40px;
    font-family: "Abadi MT Condensed Extra Bold";
    font-color: black;
}
#submit-button{

}
#signup-button{
    position:relative;
    left: 14%;
}
h2{
    font-size: 40px;
}
