p {
    font-family: "Abadi MT Condensed Extra Bold";
    font-size: 350%;
}

#title1, input,a{
    font-family: "Abadi MT Condensed Extra Bold";
    font-size: 300%;
}
#passwordcheck{
    font-family: "Comic Sans MS";
    font-size: 300%;
}
table{
    margin: 50px;
}
#title2{
    position: center;
    font-family: "Comic Sans MS";
    font-size: 300%;
}
