/* Page 1 */
#page1{
    background-color: cadetblue;
}
p {
    font-family: "Abadi MT Condensed Extra Bold";
    font-size: 350%;
}

#title1, input,a{
    font-family: "Abadi MT Condensed Extra Bold";
    font-size: 300%;
}
#passwordcheck{
    font-family: "Comic Sans MS";
    font-size: 300%;
}
table{
    margin: 50px;
}
#title2{
    position: center;
    font-family: "Comic Sans MS";
    font-size: 300%;
}
#loginEmail{
    background-color: darkseagreen;
}
#loginPassword{
    background-color: darkseagreen;

}
#showPassword{
    height: 40px;
    width: 40px;
    position: relative;
    top: -20px;
    background-color: darkseagreen;

}
#submit-button{
    height: 40px;
    width: 330%;
    text-align: center;
    font-size: 40px;
    left: 8%;
}
#signup-button{
    height: 40px;
    width: 310%;
    text-align: center;
    font-size: 40px;
    left: 14%;
}
#signUpMessage{
    text-align: center;
}
/* Page 3 */
